<div style='margin-top: 10%;'>

    <h3>¿Estás seguro que deseas comprar el perfume {{nombre}} ?</h3>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="{{foto}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{marca}}</li>
                </ul>
        <div class="card-body">
            <a class="btn btn-secondary" href="/" role="button">Regresar</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Comprar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Comprar {{nombre}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Seguro qué deseas comprar el perfume {{nombre}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="/exito/{{id}}" role="button">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>